body {
    color: #f4b400;
    background: #0a0a23;
}

a:link {
    color: #ff6f61;
}

a:visited {
    color: #7d4cff;
}

a:active {
    color: #33c1a8;
}

a.case1:link {
    background: #ffb300;
}

p:first-line {
    margin-left: 25px;
}

div.foo:first-line {
    font-weight: bold;
    margin-left: 30px;
}

div:first-letter {
    font-size: x-large;
    color: #ffdfea;
}

ul ul li {
    font-size: x-large;
    font-style: italic;
}

h2 em {
    font-weight: 900;
}

h2.ex1 {
    color: #74ff8f;
    line-height: 50px;
    font-size: 40px;
}

.funkyclass {
    font: 36pt/40pt courier;
    font-variant: small-caps;
    border: thick dashed #ff4081;
}

#tagid1 {
    padding: 20px;
    border: 20px groove #26c6da;
}

.class1,
#tagid2 {
    font-family: 'comic sans ms', fantasy;
    color: rgb(80%, 10%, 90%);
}

h1,
h2,
div.class5,
blockquote {
    background: #2b4162;
}

p.special {
    font: 12pt/14pt sans-serif;
    margin: 5px 0px 2px 25px;
    border: medium dashed #ffab40;
    background: white url(http://www.foo.com/image.gif) repeat-x fixed top right;
}

blockquote {
    margin-left: 2cm;
    color: #ff9ee2;
}

.part1 {
    font-size: xx-large;
    color: #d7ff52;
}

h5 {
    font-size: xx-small !important;
    color: #ff1744 !important;
}
